:root{
    --main-color: #ffeef2;
    --white: #ffffff;
    --pinkr: #fef6fa;
    --black: #13131a;
    --bg: #010103;
    --red: #f42d16;
    --gray: #ededed;
    --new: #fffafa;
    --Rosa50: #fdf2f8;
    --Rosa100: #fce7f3;
    --Rosa300: #ffeaf6;
    --Rosa500: #ec4899;
    --Rosa600: #e11d48/ #db2777;
    --Rosa700: #be123c;
    --Vermelho600: #dc2626;
    --Vermelho700: #b91c1c;
    --Branco: #ffffff;
    --Cinza50: #dfdfdf;
    --Cinza60: #4b5563;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: 0.2s linear;
}

body{
    background-color: var(--pinkr);
}

section{
    padding: 3rem 12rem;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 5%;
    max-width: 100%;
    margin: 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.navbar a{
    margin: 3rem;
    font-size: 1.6rem;
    color: var(--Cinza60);
}

.navbar a:hover{
    color: var(--red);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons{
    width: 36px;
    height: 36px;

    border: 0.3px solid var(--Cinza50);
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    overflow: hidden;
}

.icons img{
    width: 20px;
    height: 20px;
    transition: filter 0.9s ease;
    background: var(white);
}

.icons img:hover{
    background-color: var(--gray);
    border: 8px solid var(--gray);
    border-radius: 5px;
}

.home{
    max-width: 100%;
    margin: 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    min-height: 80vh;
}

.home .content{
    flex: 1;
    margin-top: 3rem;
}

.home .content h3{
    font-size: 5rem;
    color: var(--black);
    margin-bottom: 1rem;
    font-family: "Sora", sans-serif;
}

.home .content h3 span{
    color: var(--Vermelho600);
}

.home .content p{
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: var(--Cinza60);
    max-width: 650px;
    text-transform: none;
}

.badge{
    display: inline-block;
    background: #ffe3ea;
    color: var(--red);
    padding: 0.6rem 1.4rem;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 130px;
}

.buttons{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.btn{
    background: var(--Vermelho600);
    color: #fff;
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
    border-radius: 8px;
    transition: background 0.2s ease, transform 0.2s ease;
}

.btn:hover{
    background: #c91f0d;
    transform: translateY(-1px);
}

.btn.outline{
    background: transparent;
    color: var(--red);
    border: 1px solid var(--red);
    transition: all 0.3s ease;
}

.btn.outline:hover{
    background: #FFF0F5;
}

.home .image{
    width: 100%;
    max-width: 400px;
    aspect-ratio: 4 / 4;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 10rem;
}

.home .image img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.about-container{
    display: flex; /* Transforma o container em Flexbox, permitindo alinhar elementos lado a lado */
    gap: 60px; /* Cria espaço entre a imagem e o texto (sem usar margin)*/
    align-items: center;

    padding: 3rem 5%;
    margin-top: 60px;
}

.about-image img{
    width: 420px; /* Evita que ela fique gigante em telas grandes*/
    margin-top: 37px;
    border-radius: 3rem;
}

.about-content{
    flex: 1; /* Faz essa coluna ocupar todo espaço restante */
}

.about-content .historia{
    font-size: 15px;
    color: var(--Vermelho600);
}

.about-content h1{
    font-size: 32px;
    font-family: "Sora", sans-serif;
}

.about-content p{
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: var(--Cinza60);
    max-width: 650px;
    text-transform: none;
}

.historia{
    font-family: "Sora", sans-serif;
}

.caixas{
    display: flex; /* Coloca as caixas lado a lado */
    gap: 20px; /* Espaço entre as caixas */
    margin-top: 10px; /* Afasta as caixas do texto acima */
}

.caixa{
    background-color: var(--main-color); /* Cor de fundo da caixa */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Deixar as bordas arredondadas */
    text-align: center; /* Centraliza texto e ícone */
    width: 150px; /* Garante que todas tenham o mesmo tamanho */
    margin-top: 13px;
}

.caixa h4{
    font-size: 14px;
    color: var(--black);
    font-family: "Sora", sans-serif;
}

.about-content .foco{
    font-size: 15px;
    color: var(--black);
    font-family: "Sora", sans-serif;
}

.about-cont{
    margin-top: 30px;
    gap: 40px;
    align-items: center;
}

.about-container{
    background-color: var(--pinkr);
}